<head>
    <style>
        *{
            margin: 0;
        }
        .flex-container {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            .flex_item {
                margin-top: auto;
                background-color: #3A9D5F;
                font-size: 12px;
                color: white;
                padding: 20px 0 50px 0;
                height: 100%;
                margin-top:80px;
            }
    </style>
</head>
<body>
    <footer class="flex-container">
        <div class="flex_item">
            <p>
                <br></br>
                Copyright © MBTI Bamboo Forest
            </p>
        </div>
    </footer>
</body>